@{
  Layout = "_Layout";
}

@using Palace.Models;

<h1>Pierre's Petal Palace</h1>

@* <p>@Html.ActionLink("Bouquets", "Index", "Bouquets")</p>
<p>@Html.ActionLink("Flowers", "Index", "Flowers")</p> *@
<hr />
@* <p>@Html.ActionLink("See all comments", "Index", "Comments")</p>

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p> *@