@{
  Layout = "_Layout";
}
@model Palace.Models.Bouquet

<h2>Are you <em>sure</em> you want to remove this bouquet?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}